| Index | Test File Reference                                  | Test Case Identifier                            | Result | Comments |
|-------|------------------------------------------------------|-------------------------------------------------|--------|----------|
| 1     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_V2GTPSDP_001                    | ✅      |          |
| 2     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SupportedAppProtocol_006        | ✅      |          |
| 3     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_V2GTPSessionSetup_001           | ✅      |          |
| 4     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SessionSetup_001                | ✅      |          |
| 5     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_ServiceDiscovery_001            | ✅      |          |
| 6     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_Authorization_001               | ✅      |          |
| 7     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_PowerDelivery_001                | ✅      |          |
| 8     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargingStatus_001               | ✅      |          |
| 9     | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_PowerDelivery_005                | ✅      |          |
| 10    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_SessionStop_001                  | ❌      |          |
| 11    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_016     | ✅      |          |
| 12    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SDP_001                         | ✅      |          |
| 13    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SDP_007                         | ✅      |          |
| 14    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SupportedAppProtocol_004        | ✅      |          |
| 15    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_PaymentServiceSelection_001     | ✅      |          |
| 16    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_CmSlacParm_001                  | ✅      |          |
| 17    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_CmSlacParm_002                  | ✅      |          |
| 18    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_CmSlacParm_003                  | ✅      |          |
| 19    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_AttenuationCharacterization_001 | ✅      |          |
| 20    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_AttenuationCharacterization_002 | ✅      |          |
| 21    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_AttenuationCharacterization_003 | ✅      |          |
| 22    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_AttenuationCharacterization_020 | ✅      |          |
| 23    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_PLCLinkStatus_001               | ✅      |          |
| 24    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_PLCLinkStatus_003               | ✅      |          |
| 25    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_PLCLinkStatus_004               | ✅      |          |
| 26    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_CmValidate_011                  | ❌      |          |
| 27    | TestcaseList_SECC_AC_ISO_15118_3_2021-08-06_1814_pub | TC_SECC_CMN_VTB_CmValidate_012                  | ❌      |          |
 | 28    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_ChargeParameterDiscovery_015    | ✅      |          |
| 29    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_010     | ✅      |          |
| 30    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_006     | ✅      |          |
| 31    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_PowerDelivery_002                | ✅      |          | 
| 32    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_013     | ✅      |          | 
| 33    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_012     | ✅      |          | 
| 34    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_008     | ✅      |          | 
| 35    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_027     | ✅      |          | 
| 36    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_028     | ✅      |          | 
| 37    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_023     | ✅      |          | 
| 38    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_026     | ✅      |          |
| 39    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_025     | ✅      |          | 
| 40    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_009     | ✅      |          | 
| 41    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_ChargeParameterDiscovery_002     | ✅      |          | 
| 42    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_PowerDelivery_003                | ✅      |          | 
| 43    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_AC_VTB_PowerDelivery_004                | ✅      |          | 
| 44    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_ServiceDetail_011                   | ✅      |          | 
| 45    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_PaymentServiceSelection_002     | ✅      | 
| 46    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_SDP_002                         | ✅      |          | 
| 47    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_V2GTPSDP_003                    | ✅      |          | 
| 48    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_V2GTPSDP_004                    | ✅      |          |
| 49    | TestcaseList_SECC_AC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_CMN_VTB_V2GTPSDP_005                    | ✅      | 
| 47    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_CableCheck_001                   | ✅      |          | 
| 48    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_PreCharge_001                    | ✅      |          |
| 49    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_PowerDelivery_001                | ✅      |
| 50    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_PowerDelivery_002                | ✅      |          | 
| 51    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_PowerDelivery_014                | ✅      |          |
| 52    | TestcaseList_SECC_DC_ISO_15118_2_2021-08-06_1814_pub | TC_SECC_DC_VTB_PowerDelivery_001                | ✅      |