| Test Case Identifier         	| RESULT 	|
|------------------------------	|:------:	|
| TC_SECC_CMN_VTB_V2GTPSDP_001 	|    ✅   	|
| TC_SECC_CMN_VTB_SDP_001      	|    ❌  	|
| TC_SECC_CMN_VTB_SDP_002      	|    ✅   	|